{
  "project_info": {
    "project_number": "REPLACE_WITH_FIREBASE_PROJECT_NUMBER",
    "project_id": "REPLACE_WITH_FIREBASE_PROJECT_ID",
    "storage_bucket": "REPLACE.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE:android:REPLACE",
        "android_client_info": {
          "package_name": "com.cogsperhitungan.kasir"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_API_KEY"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
